@model QuestionPaperGenerator.ViewModels.QuestionPaperViewModel

@{
    ViewBag.Title = "GeneratePaper";
}

<h2>GeneratePaper</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Worksheet</h4>
        <hr />
       
        
           @Model.PaperName
       

        <table>
            @{ foreach (var question in Model.Questions)
                {
                    <tr>
                        <td><label>@question.FirstOperand</label></td>
                        <td><label>@question.Operator</label></td>
                        <td><label>@question.SecondOperand</label></td>
                        <td><input type="text" /></td>
                    </tr>
                    }
                }
        </table>
                             


         
        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <script>
        

    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
