@model QuestionPaperGenerator.Models.Worksheet

@{
    ViewBag.Title = "GeneratePaper";
}

<h2>GeneratePaper</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Worksheet</h4>
        <hr />
       
        
            @Model.WorksheetName
            @{ 
                foreach( var question in Model.QuestionPatterns)
                {
                    <p>@question.Template.Name</p>
                    
                }
            }
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <script>
        

    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
